#header{
    background: #f00;
    height: 32px;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
}
#login-contain{
    line-height: 32px;
    display: inline;
}
#login-contain a{
    /*margin-left: 20px;*/
    padding-left: 20px;
    color: #fff;
}
#login-contain a:hover{
    color: red;
}
#header-menu .menu{
    float: left;
    padding: 0  14px;
    position: relative;
}
#header-menu .menu a{
    color: #fff;
}
#header-menu{
    float: right;
    line-height: 32px;
}
#header-menu .iconfont {
    color: #fff;
    font-size: 12px;
}
#header-menu .menu-hd::after{
    content: '';
    border: 3px solid transparent;
    border-top-color: #bbb;
    position: absolute;
    right: 4px;
    top: 16px;
    transform-origin: 3px 1.5px;
}
#header-menu .menu-hd:hover::after{
    transition: transform .3s linear;
    transform:rotate(180deg);
}
#header-menu .menu-hd:hover {
    background: #ffffff;
    color: #ff0000;
}
#header-menu .menu-hd:hover .submenu {
    display: block;
}
#header-menu .menu-hd:hover>a {
     color: #ff0000;
    text-decoration: underline;
 }
#header-menu .menu-nav:hover a {
    color: yellow;
}
#header-menu .menu-nav:hover a span{
    color: #fff;
}
#header-menu .menu-nav a:hover span{
    color: yellow;
}
/*优先级问题*/
#header-menu .menu-nav:hover .iconfont{
    color: yellow;
}
#header-menu .submenu{
    border: 1px solid #ccc;
    border-top: 0;
    width: 100px;
    position:absolute;
    top:32px;
    left:0;

    display: none;
}
#header-menu .submenu li{
    padding: 0 14px;
}

#header-menu .submenu a{
    color:#999;
}
#header-menu .submenu a:hover{
    color:#f00;
    text-decoration:underline ;
}
#search{
    height: 130px;
}
#search img{
    width: 240px;
    /*图片只设置一个宽，另一个会等比例*/
    float: left;
}
#search-contain{
    margin-top: 40px;
    margin-left:90px;
    height: 36px;
    float: left;

}

#search-contain .search-input {
    border: 2px solid #ff0036;
    height: 36px;

}
#search-contain .search-input input{
    width: 490px;
    height: 36px;
    outline: none;
    /*针对input外边框，不同浏览器不一样，消除*/
    border: 0;
    text-indent: 10px;
    float: left;
}
#search-contain .search-input input::placeholder{
    color: #ccc;
    font-size: 14px;
}
#search-contain .search-input button{
    width: 132px;
    height: 36px;
    border: 0;
    background: #ff0036;
    color:#fff;
    font-size: 18px;
    outline: none;
    float: left;
}

#search-contain .search-list li{
    float: left;
}
#search-contain .search-list li{
    padding: 0 12px;
    margin: 5px 0;
    border-right: 1px solid #ccc;
}
#search-contain .search-list li.last{
    border-right: 0;
}
#search-contain .search-list li.first{
    padding-left: 0;
}
#search-contain .search-list li a{
    color: #ccc;
}
#search-contain .search-list li.red a{
    color: #ff0000;
}

#main-menu{
    margin-left: 500px;
    height: 30px;
}
#main-menu img{
    width: 100px;
    float: left;
    margin-right: 20px;
}
#main-menu ul{
    float: left;
    margin-top: 4px;
}
#main-menu li{
    float: left;
    padding-right: 20px;
    font-size: 16px;
}
#banner{
    position: relative;
    border-top: 2px solid #ff0000;
}
#banner .banner-image li a{
    display: block;
    width: 1230px;
    margin: 0 auto;

}
#banner li a img{
    width: 100%;
}
#banner .nav{
    position: absolute;
    /*background: #000000;*/
    /*opacity: .6;*/
    /*透明度0-1，连带里面所有东西都透明*/
    background: rgba(0,0,0,.6);
    /*背景颜色+透明度 ,背景透明，但是内容不透明*/
    top: -31px;
}
#banner .nav > li{
    width: 200px;
    height: 31px;
    line-height: 31px;
    color: #fff;
}
#banner .nav > li > a{
    color: #fff;
    font-weight: 100;
    /*字体的粗细*/

}
#banner .nav li i{
    margin: 0 10px;
}
#banner .nav li.product{
    background: #ff0000;
    font-size: 20px;

}
#banner .nav li.product i{
    font-size: 20px;
}
#banner .nav li:not(.product):hover{
    background: #ffffff;
}
/*除了谁谁，其余变*/
#banner .nav li:not(.product):hover .banner-menu{
    display: block;
}
#banner .nav li.red:hover,#banner .nav li.red:hover > a{
    color: red;
}
#banner .nav li.blue:hover,#banner .nav li.blue:hover > a{
    color: blue;
}
#banner .nav li.yellow:hover,#banner .nav li.yellow:hover > a{
     color: yellow;
 }
#banner .banner-menu{
    position: absolute;
    top: 31px;
    left: 200px;
    background: #ccc;
    width: 852px;
    height: 500px;
    display: none;
}
#banner .banner-left > li{
    margin: 10px 0;
}
#banner .banner-menu .banner-left{
    width: 643px;
    height: 500px;
    float: left;
    background: #ffffff;
}
#banner .banner-menu .banner-menu-head {
    float: left;
}
#banner .banner-menu .banner-menu-head a{
    font-size: 18px;
    margin: 0 20px;
}
#banner .banner-menu .banner-menu-list{
    width:493px;
    float: left;
    line-height: 20px;
    margin-top: 2px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}
#banner .banner-menu-list li{
    float: left;
    margin-left: 10px;
}
#banner .banner-menu .banner-right{
    float: left;
    width: 180px;
    margin-left: 20px;
    line-height: 10px;
}
#banner .banner-menu .banner-right a{
    float: left;
}
#banner .banner-menu .banner-right img{
    width: 87px;
    margin: 0 1px 1px 0;
}
#brand{

    background-color: #f5f5f5;
    overflow: hidden;
    /*设置背景时可以解决浮动问题*/
    padding: 24px;
}
#brand .brand-type{
    float: left;
}
#brand .brand-type img{
    width: 100%;
}
#brand .brand1{
    width: 585px;
}
#brand .brand2{
    width: 585px;
    margin-left: 27px;
}
#brand .title{
    height:55px;
    background: #ffffff;
    line-height: 55px;
    font-size: 18px;
    padding: 0 10px;
}

#brand .title a{
    background: url('../images/more.png') no-repeat;
                                         /*不平铺*/
    background-position: right center;
    background-size: 20px 20px;
    /*display: block;*/
    width: 56px;
    height: 51px;
    float: right;
}
#list-pic .pic{
    float:left;
    width: 122px;
    height: 108px;
    position: relative;
}
#list-pic .pic img{
    width: 82%;
    height: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    /*上面的百分比是相对父元素的百分比*/
    transform: translate(-50%,-50%);
    /*这个百分比是相对自身的百分比*/
}

